*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}

@font-face {
    font-family: 'MyFont';
    src:  url('font/Mamelon-3-Hi-Regular.otf') format('opentype');
    src: url('font/mameh_woff/Mamelon-3HiRegular.woff2') format('woff2');

}

.topic{
    width: 490px;
    border-bottom: solid 6px #EC9200;
    margin-left: 80px;
}

h2{
  font-family:'MyFont', sans-serif;
  font-size: 56px;
  margin: 40px 80px 0;
}

h3{
    font-family:'MyFont', sans-serif;
    font-size: 24px;

    display: inline-block;
    border-bottom: solid 4px #EC9200;
}

.column-wrap{
    text-align: center;
}

a,p{
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 24px;
}

.title{
    background: url(images/title.png) center center / cover no-repeat;
}
.title div{
    width: 100%;
    height: 100vh;
}

.intro{
    display: flex;
    position: relative;
}

.sansan-pop{
    position: absolute;
    right: 30px;
    top: 20px;
    width: 300px;
    height: 320px;
    background: url(images/sansan-taro/sansan_pop.png) no-repeat;
    background-size: cover;
}

.intro-card{
    display: flex;
}
.intro-img{
    display: flex;

    position: relative;
}

.intro-block{
    width: 200px;
    height: 100px;
}

.intro-left{
    background-image: url("images/intro_exterior.png");
    background-size: cover;
    width: 200px;
    height: 400px;
    margin-right: 20px;
}

.intro-right{
    background-image: url("images/intro_exterior2.png");
    background-size: cover;
    width: 200px;
    height: 400px;
    position: relative;
    top: 100px;
}



.intro-text {
    width: 580px;
    font-size:24px;
    line-height: 30px;
    letter-spacing: 0.1em;
    margin: 80px 60px;
}

.up-column-card{
    display: flex;
    justify-content: space-around;
}
.down-column-card{
    display: flex;
    justify-content: space-around;
}

  .intro-under{
    background-image: url("images/intro_under.png");
    background-size: cover;
    width: 500px;
    height: 340px;
  }

.column-text{
    width: 420px;
    font-size:18px;
    line-height: 30px;
    letter-spacing: 0.1em;
    margin: 50px 60px;
}

.red-char{
    background-image: url("images/intro_char_red.png");
    background-size: cover;
    width: 450px;
    height: 200px;
}

.blue-char{
    background-image: url("images/intro_char_blue.png");
    background-size: cover;
    width: 450px;
    height: 200px;
    margin-bottom: 60px;
}
.column-block{
    width: 100px;
    height: 200px;
}
.upper-char-card{
    display: flex;
    margin-bottom: 60px;
}
.down-char-card{
    display: flex;
}

.feature{
    background-color: #FFF9F5;
}

.sansan-feature{
    display: flex;
    position: relative;
}

.sansan-hamburger{
    position: absolute;
    right: 60px;
    top: 20px;
    width: 260px;
    height: 220px;
    background: url(images/sansan-taro/sansan_hamburger.png) no-repeat;
    background-size: cover;
}

span {
    background:linear-gradient(transparent 60%, #EC9200 50%);
}

.feature-projection{
    display: flex;
}

.sansan-projection-element{
    display: flex;
    margin: 30px;
}

.sansan-projection{
    width: 330px;
    height: 440px;
    background: url(images/sansan_projection.jpg) no-repeat;
    background-size: cover;
    margin: 80px;
}

.sansan-projection2{
    width: 250px;
    height: 400px;
    background: url(images/sansan_projection2.jpg) no-repeat;
    background-size: cover;
    

}
.sansan-projection3{
    width: 300px;
    height: 200px;
    background: url(images/sansan_projection3.jpg) no-repeat;
    background-size: cover;
    display: inline-block;
    text-align: right;
}

.feature-text{
    width: 450px;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.1em;
    margin: 80px;
}
.sansan-speaker-element{
    display: flex;
    justify-content: space-between;
}

.sansan-speaker{
    width: 450px;
    height: 300px;
    background: url(images/sansan_speaker.png) no-repeat;
    background-size: cover;
    margin: 80px;
}

.sansan-cardboard-element{
    display: flex;
    text-align: center;
}

.sansan-cardboard{
    width: 500px;
    height: 375px;
    background: url(images/sansan_cardboard.jpg) no-repeat;
    background-size: cover;
    margin: 80px;
}
.cardboard-text{
    width: 450px;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.1em;
    margin: 80px;
    display: inline-block;
    text-align: left;
}

.sansan-event-element{
    display: flex;
}

.event-text{
    width: 700px;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.1em;
    margin: 80px;
    position: relative;
    top: 50px;
}
.sansan-event{
    width: 300px;
    height: 600px;
    background: url(images/sansan_masara.png) no-repeat;
    background-size: cover;
    margin: 80px;

}

.gallery-topic{
    width: 600px;
    font-size:24px;
    line-height: 30px;
    letter-spacing: 0.1em;
    margin: 80px ;
}

.sansan-gallery{
    display: flex;
    position: relative;
}

.gallery-card{
    width: 250px;
    height: 320px;
    background-color: #EC9200;
    border: solid 3px #fff;
    border-radius: 8px;
    outline : 3px solid #FFF; /* 線の太さ・線状・色 */
    outline-offset : -10px; /* どれだけ内側に線を表示したいかを負の値で指定 */
    box-shadow: 10px 10px rgba(138, 65, 13, 0.7);
    margin: 30px 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}
.gallery-card:nth-child(4n+2){
    top:50px; 
  }
.gallery-card:nth-child(4n+3){
    top:100px; 
}
.gallery-card:nth-child(4n+4){
    top:150px; 
}


.all-gallery-card{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.down-gallery-card{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.gallery-number{
    position: absolute;
    top: 0px;
    right: 10px;
    color: #fff;
    font-family:'MyFont', sans-serif;
    font-size: 48px;
}

.sansan-theatre{
    width: 200px;
    height: 130px;
    margin: 0 auto;
}
.gallery-text{
    background-color: #fff;
    border-radius: 8px;
    width: 200px;
    height: 120px;
    margin: 20px auto 0;
    text-align: center;
}

.gallery-text p{
    display: inline-block;
    text-align: left;
    margin-top: 5px;
}

.gallery11{
    background: url(images/gallery/theater1_02.jpg) no-repeat;
    background-size: cover;
}
.gallery12{
    background: url(images/gallery/theater1_03.jpg) no-repeat;
    background-size: cover;
}
.gallery21{
    background: url(images/gallery/theater2_02.jpg) no-repeat;
    background-size: cover;
}
.gallery22{
    background: url(images/gallery/theater2_03.jpg) no-repeat;
    background-size: cover;
}
.gallery31{
    background: url(images/gallery/theater3_02.jpg) no-repeat;
    background-size: cover;
}
.gallery32{
    background: url(images/gallery/theater3_03.jpg) no-repeat;
    background-size: cover;
}
.gallery41{
    background: url(images/gallery/theater4_02.jpg) no-repeat;
    background-size: cover;
}
.gallery42{
    background: url(images/gallery/theater4_03.jpg) no-repeat;
    background-size: cover;
}


.sansan-sit{
    position: absolute;
    right: 60px;
    top: 20px;
    width: 260px;
    height: 460px;
    background: url(images/sansan-taro/sansan_sit.png) no-repeat;
    background-size: cover;
}


.access-element{
    display: flex;
    justify-content: center;
    margin: 30px 0;
}

.access-text{
    width: 600px;
    font-size:28px;
    line-height: 30px;
    letter-spacing: 0.1em;
    margin: 80px ;
}

iframe{
    display: block;
    margin: 60px auto;
    max-width: 100%;
  }

.iframe-wrap{
    margin-right: 60px;
}

.more-area{
    /*position: relative;*/
    display: flex;
    justify-content: space-around;
}
.sansan-open{
    /*position: absolute;
    right: 60px;
    bottom:0px;*/
    right: 60px;
    width: 260px;
    height: 240px;
    background: url(images/sansan-taro/sansan_open.png) no-repeat;
    background-size: cover;
}
.more-block{
    width: 260px;
    height: 240px;
}

.more{
    align-self: flex-start;
    text-align: center;
    display: block;
    margin: 20px auto 60px;
    width: 240px;
    font-size: 32px;
    color: #242424;
    background-color: #EC9200;
    border-radius: 8px;
    text-decoration: none;
    padding: 16px 0;
    border-radius: 4px;
    outline : 2px solid #FFF; /* 線の太さ・線状・色 */
    outline-offset : -7px /* どれだけ内側に線を表示したいかを負の値で指定 */
  }
  
  .more:hover{/*カーソルを合わせた時*/
    color: #fff;
    
  }


.wrap{
    background-color: #FFF9E1;
}

footer{
    background-color: #EC9200;
    color: #242424;
    width: 100%;
    height: 60px;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer p{

    font-size: 20px;
}



.fuwatAnime {
    -webkit-animation-fill-mode:both;
    -ms-animation-fill-mode:both;
    animation-fill-mode:both;
    -webkit-animation-duration:1.5s;
    -ms-animation-duration:1.5s;
    animation-duration:1.5s;
    -webkit-animation-name: fuwatAnime;
    -ms-animation-name: fuwatAnime;
    animation-name: fuwatAnime;
    visibility: visible !important;
   }
   @-webkit-keyframes fuwatAnime {
    0% { opacity: 0; -webkit-transform: translateY(-20px); }
    100% { opacity: 1; -webkit-transform: translateY(0); }
   }
   @keyframes fuwatAnime {
    0% { opacity: 0; -webkit-transform: translateY(-20px); -ms-transform: translateY(-20px); transform: translateY(-20px); }
    100% { opacity: 1; -webkit-transform: translateY(0); -ms-transform: translateY(0); transform: translateY(0); }
   }

   /*　ハンバーガーボタン　*/
.hamburger {
    display : block;
    position: fixed;
    z-index : 3;
    right : 13px;
    top   : 12px;
    width : 42px;
    height: 42px;
    cursor: pointer;
    text-align: center;
  }
  .hamburger span {
    display : block;
    position: absolute;
    width   : 30px;
    height  : 2px ;
    left    : 6px;
    background : #555;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition   : 0.3s ease-in-out;
    transition        : 0.3s ease-in-out;
  }
  .hamburger span:nth-child(1) {
    top: 10px;
  }
  .hamburger span:nth-child(2) {
    top: 20px;
  }
  .hamburger span:nth-child(3) {
    top: 30px;
  }
  
  /* ナビ開いてる時のボタン */
  .hamburger.active span:nth-child(1) {
    top : 16px;
    left: 6px;
    background :#242424;
    -webkit-transform: rotate(-45deg);
    -moz-transform   : rotate(-45deg);
    transform        : rotate(-45deg);
  }
  
  .hamburger.active span:nth-child(2),
  .hamburger.active span:nth-child(3) {
    top: 16px;
    background :#242424;
    -webkit-transform: rotate(45deg);
    -moz-transform   : rotate(45deg);
    transform        : rotate(45deg);
  }
  
  nav.globalMenuSp {
    position: fixed;
    z-index : 2;
    top  : 0;
    left : 0;
    color: #242424;
    background: #FFF9E1;
    text-align: center;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: opacity .6s ease, visibility .6s ease;
  }
  
  nav.globalMenuSp ul {
    margin: auto;
    padding: 0;
    width: 100%;
  }
  
  nav.globalMenuSp ul li {
    list-style-type: none;
    padding: 0;
    width: 100%;
    transition: .4s all;
  }
  nav.globalMenuSp ul li:last-child {
    padding-bottom: 0;
  }
  nav.globalMenuSp ul li:hover{
    background :rgba(236,146,0,0.4);;
  }
  
  nav.globalMenuSp ul li a {
    font-size: 36px;
    display: block;
    color: #242424;
    padding: 0.5em 0;
    text-decoration :none;
  }
  
  /* このクラスを、jQueryで付与・削除する */
  nav.globalMenuSp.active {
    opacity: 100;
    visibility: visible;

  }
.sansan-rat{
    top:100px;
    left : 40px;
    width: 270px;
    height: 240px;
    background: url(images/sansan-taro/sansan_rat.png) no-repeat;
    background-size: cover;
    position: relative;

}

.menu-off{
    pointer-events: none;
}