*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}

@font-face {
    font-family: 'MyFont';
    src:  url('font/Mamelon-3-Hi-Regular.otf') format('opentype');
    src: url('font/mameh_woff/Mamelon-3HiRegular.woff2') format('woff2');

}

.topic{
    width: 490px;
    border-bottom: solid 6px #EC9200;
    margin-left: 80px;
}

h2{
  font-family:'MyFont', sans-serif;
  font-size: 56px;
  margin: 40px 80px 0;
}

h3{
    font-family:'MyFont', sans-serif;
    font-size: 24px;

    display: inline-block;
    border-bottom: solid 4px #EC9200;
}

.column-wrap{
    text-align: center;
}

p{
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 24px;
}

.title{
    background: url(images/title.png) center center / cover no-repeat;
}
.title div{
    width: 100%;
    height: 100vh;
}

.intro{
    display: flex;
    position: relative;
}

.sansan-pop{
    position: absolute;
    right: 30px;
    top: 20px;
    width: 300px;
    height: 320px;
    background: url(images/sansan-taro/sansan_pop.png) no-repeat;
    background-size: cover;
}

.intro-card{
    display: flex;
}
.intro-img{
    display: flex;
}

.intro-block{
    width: 200px;
    height: 100px;
}

.intro-left{
    background-image: url("images/intro_exterior.png");
    background-size: cover;
    width: 200px;
    height: 400px;
    margin-right: 20px;
}

.intro-right{
    background-image: url("images/intro_exterior2.png");
    background-size: cover;
    width: 200px;
    height: 400px;
}



.intro-text {
    width: 580px;
    font-size:24px;
    line-height: 30px;
    letter-spacing: 0.1em;
    margin: 80px 60px;
}

.up-column-card{
    display: flex;
    justify-content: center;
}
.down-column-card{
    display: flex;
    justify-content: center;
}

  .intro-under{
    background-image: url("images/intro_under.png");
    background-size: cover;
    width: 500px;
    height: 340px;
  }

.column-text{
    width: 420px;
    font-size:18px;
    line-height: 30px;
    letter-spacing: 0.1em;
    margin: 50px 60px;
}

.red-char{
    background-image: url("images/intro_char_red.png");
    background-size: cover;
    width: 450px;
    height: 200px;
}

.blue-char{
    background-image: url("images/intro_char_blue.png");
    background-size: cover;
    width: 450px;
    height: 200px;
    margin-bottom: 60px;
}
.column-block{
    width: 100px;
    height: 200px;
}
.upper-char-card{
    display: flex;
    margin-bottom: 60px;
}
.down-char-card{
    display: flex;
}

.feature{
    background-color: #FFF9F5;
}

.sansan-feature{
    display: flex;
    position: relative;
}

.sansan-hamburger{
    position: absolute;
    right: 60px;
    top: 20px;
    width: 260px;
    height: 220px;
    background: url(images/sansan-taro/sansan_hamburger.png) no-repeat;
    background-size: cover;
}


.sansan-gallery{
    display: flex;
    position: relative;
}

.sansan-sit{
    position: absolute;
    right: 60px;
    top: 20px;
    width: 260px;
    height: 460px;
    background: url(images/sansan-taro/sansan_sit.png) no-repeat;
    background-size: cover;
}

.gallery-text{
    width: 600px;
    font-size:18px;
    line-height: 30px;
    letter-spacing: 0.1em;
    margin: 80px ;
}


.wrap{
    background-color: #FFF9E1;
}

footer{
    background-color: #EC9200;
    color: #242424;
    width: 100%;
    height: 60px;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer p{

    font-size: 20px;
}

label {
    position: fixed;
    z-index: 1;
    
}

input {
    display: none;
}

input:checked ~ label {
    right: 0;
}

.burger {
    position: relative;
    top: 24px;
    cursor: pointer;
}

.burger g {
    stroke: #242424;
    transition: stroke 0.25s ease-in-out;    
}

.burger g:hover {
    stroke: darken(#242424, 20%);
}

input:checked ~ label .burger {
    opacity: 0;

}


.close {
    position: relative;
    top: 24px;
    cursor: pointer;
    opacity: 0;
}

.close g:hover {
    stroke: darken(#242424, 20%);
}

.close g {
    stroke: #242424;
    transition: stroke 0.25s ease-in-out;    
}

.close line {
    transform-origin: 0%;
}

.close g {
    transform: rotateZ(45deg);
    transform-origin: 50%;
}

input:checked ~ label .close {
    opacity: 1;
}


.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    opacity: 0;
    width: 100vw;
    height: 100vh;
    background-color: #FFF9E1;
    transition: opacity 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    color: #242424;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

input:checked ~ .menu {
    opacity: 1;
}

.menu div {
    margin-top: 50px;
    transition: margin 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

input:checked ~ .menu div {
    margin-top: 0px;
}

.main {
    display: flex;
    width: 100vw;
    height: 100vh;    
}

.main span {
    margin: auto;
    font-size: 40px;
    color: #242424;
    font-family: 'Pacifico', cursive;    
}